* {
    padding: 0;
    margin: 0;
}

.botonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.botonContainer>* {
    background-color: gray;
    padding: 1vw;
}

.cardContainer {
    padding: 2vw;
}

.cardContainer>* {
    margin: 0 auto;
}