* {
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    color: green;
    text-decoration: underline;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: row;
}

.flexContainer>div {
    padding: .5rem;
    box-sizing: border-box;
}

.imgContainer {
    overflow: hidden;
    border-radius: 100px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#divImagenGrande {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 400px) {
    .flexContainer>div {
        width: 45%;
    }
}

@media screen and (min-width: 800px) {
    .flexContainer>div {
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    .flexContainer>div {
        width: 20%;
    }
}